<!DOCTYPE html>
<html>
<head>
<title>Kot</title>
</head>
<body>
    <div style="height:fit-content;width: 58mm;display:flex;flex-direction:column;align-items:center;padding:10px 0px;margin: 0px;">
        <!-- HEADER -->
        <div style="max-width: 58mm;">
            <div style="width:100%;display:flex;display: -webkit-box;-webkit-box-pack: center">
                <p style="font-family: Arial, sans-serif;margin:0px;font-size:12px;text-align:center;font-weight:200;">KOT</p>
            </div>
            <div style="width:100%;display:flex;display: -webkit-box;-webkit-box-orient: vertical;-webkit-box-align:start;margin-top:10px;">
                <div style="display:flex;display: -webkit-box;-webkit-box-pack: center;flex-direction: row;">
                    <p style="font-family:Arial;margin:0px;font-size:13px;">Table No</p>
                    <p style="font-family:Arial;margin:0px;font-size:13px;margin:0px 1px;">:</p>
                    <p style="font-family:Arial;margin:0px;font-size:13px;"><%=item.table.table_no%></p>
                </div>
                <div style="display:flex;display: -webkit-box;-webkit-box-pack: center;flex-direction: row;">
                    <p style="font-family:Arial;margin:0px;font-size:13px;">Order Id</p>
                    <p style="font-family:Arial;margin:0px;font-size:13px;margin:0px 1px;">:</p>
                    <p style="font-family:Arial;margin:0px;font-size:13px;"><%=item.order_id%></p>
                </div>
                <div style="display:flex;display: -webkit-box;-webkit-box-pack: center;flex-direction: row;">
                    <p style="font-family:Arial;margin:0px;font-size:13px;">Order Type</p>
                    <p style="font-family:Arial;margin:0px;font-size:13px;margin:0px 1px;">:</p>
                    <p style="font-family:Arial;margin:0px;font-size:13px;"><%=item.order_type === 'dine_in'?'Dine In':'Parcel'%></p>
                </div>
                <div style="display:flex;display: -webkit-box;-webkit-box-pack: center;flex-direction: row;">
                    <p style="font-family:Arial;margin:0px;font-size:13px;">Waiter</p>
                    <p style="font-family:Arial;margin:0px;font-size:13px;margin:0px 1px;">:</p>
                    <p style="font-family:Arial;margin:0px;font-size:13px;"><%=item?.waiter?.name?item?.waiter?.name:'--'%></p>
                </div>
                <div style="display:flex;display: -webkit-box;-webkit-box-pack: center;flex-direction: row;">
                    <p style="font-family:Arial;margin:0px;font-size:13px;">Chef</p>
                    <p style="font-family:Arial;margin:0px;font-size:13px;margin:0px 1px;">:</p>
                    <p style="font-family:Arial;margin:0px;font-size:13px;"><%=item?.chef?.name?item?.chef?.name:'--'%></p>
                </div>
                <div style="display:flex;display: -webkit-box;-webkit-box-pack: center;flex-direction: row;">
                    <p style="font-family:Arial;margin:0px;font-size:13px;">Date Time</p>
                    <p style="font-family:Arial;margin:0px;font-size:13px;margin:0px 1px;">:</p>
                    <p style="font-family:Arial;margin:0px;font-size:13px;"><%=moment(item.order_date_and_time).utcOffset(330).format('l, h:mm a')%></p>
                </div>
            </div>
            
        <div style="width:100%;border:1px;border-color:black;border-style: solid;margin-top:5px;">
            <table style="width:100%;padding:0px 0px;">
                <tr style="display:flex;flex-direction:row;align-items:center;justify-content:space-between;padding:2px;"> 
                  <th style="width:4mm;display: flex;text-align:start;font-family:Arial;font-size: 13px;font-weight:bolder;padding:0px 2px;">S/N</th>
                  <th style="width:10mm;display: flex;flex: 1px;text-align:center;font-family:Arial;font-size: 13px;font-weight: bold;padding:0px 0px 0px 2px;; margin: 0px 5px;">ITEM NAME</th>
                  <th style="width:4mm;display: flex;text-align:center;font-family:Arial;font-size: 13px;font-weight: bold;padding:0px 2px;">QTY</th>
                </tr>
                <%item.food_items_for_kot.map((first,index)=>{%>
                    <tr style="display:flex;flex-direction:row;align-items:flex-start;vertical-align: top;justify-content:space-between;padding:0px 1px"> 
                        <td style="width:4mm;text-align:center;font-family:Arial;font-size: 13px;"><%=index+1%></td>
                        <td style="display:flex;flex:1px;flex-direction: column;font-family:Arial;font-size: 13px; margin: 0px 5px; ">
                            <p style="margin: 0px;"><%=first.menu_name%></p>
                            <% if (first.addons_categories.length !== 0) {%>
                                <%first.selectAddons.map((second,index)=>{%>
                                    <div style="display:flex;display: -webkit-box;-webkit-box-pack:start;align-items:flex-start;justify-content: flex-start;">
                                        <div style="height: 3px;width: 3px;background-color: black;border-radius: 100%;margin-right: 2px;margin-top: 2.4px;"></div>
                                        <p style="margin: 0px;"><%=first.selectAddonsValues.filter((a)=>a.parent === second.parent).map((b)=>b.name).join(', ')%></p>
                                    </div>
                                    
                                <%})%>
                            <%}%>
                        </td>
                        <td style="width:4mm;text-align:center;font-family:Arial;font-size: 13px;"><%=first.quantity%></td>
                    </tr>
                <%})%>
            </table>
        </div>
        <% if (item?.instructions) {%>
            <div style="width:100%;display:flex;display: -webkit-box;-webkit-box-orient: vertical;-webkit-box-align:start;margin-top:12px;">
                <div style="display:flex;display: -webkit-box;-webkit-box-pack: center;flex-direction: row;align-self: flex-start">
                    <p style="font-family:Arial;margin:0px;font-size:14px;font-weight: bold;">Instructions</p>
                    <p style="font-family:Arial;margin:0px;font-size:14px;margin:0px 1px;">:</p>
                </div>
                <p style="font-family:Arial;margin:0px;font-size:13px;"><%=item?.instructions%></p>
            </div>
        <% } %>
    </div>
</body>
</html>